.section-title {
  font-family: $font-title;
  font-size: 30px;
  color: $color-primary;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;

  @include small {
    font-size: 35px;
  }

  @include medium {
    font-size: 45px;
  }

  @include large {
    font-size: 55px;
  }
}
