$font-primary: "DM Sans", sans-serif;
$font-title: "Playfair Display", serif;

$color-primary: #2c2f24;
$color-dark-background: #474747;
$color-light-background: #f9f9f7;
$color-decorative: #ad343e;
$color-hover: #dbdfd0;

$image-radius: 12px;
$padding-length: 120px;
$padding-length-mobile: 60px;

$transition: all 250ms linear;
